-r requirements.in

# dev-tools
black
isort
pip-tools
pre-commit
pydocstyle[toml]>=6
pylint
pytest
pytest-cov
safety

# test dependencies
fakeredis<1.6  # Tests fail with a newer version
flask
flask-jwt-extended
